:root {
    --primary-color: #f25912;
    --background-color: #211832;
    --secondary-background-color: #2c2042;
    --text-color: white;
    --text-color-button: white;
    --dark-mode-border: #f25912;
    --dark-mode-bg-color: #f25912;
}

.light-mode {
    --background-color: #ffffff;
    --secondary-background-color: #f5f0ff;
    --text-color: black;
    --dark-mode-border: black;
    --dark-mode-bg-color: transparent;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: pixel-operator-mono;
    src: url("./assets/PixelOperatorMono.ttf") format("truetype");
}

@font-face {
    font-family: pixel-operator-mono;
    src: url("./assets/PixelOperatorMono8-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: pixel-operator-sc;
    src: url("./assets/PixelOperatorSC.ttf") format("truetype");
}

@font-face {
    font-family: pixel-operator-sc;
    src: url("./assets/PixelOperatorSC-Bold.ttf") format("truetype");
    font-weight: bold;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: pixel-operator-mono;
    overflow-x: hidden;
    padding: 0 24px;
}

h1 {
    font-family: pixel-operator-sc;
    font-size: 68px;
}

input,
select,
option,
label {
    font-size: 18px;
    font-family: pixel-operator-mono, pixel-operator-sc;
}

input[type="number"] {
    appearance: textfield;
}

button {
    padding: 12px 64px;
    background-color: var(--primary-color);
    border: none;
    font-family: pixel-operator-sc;
    font-size: 22px;
    color: white;
    font-weight: bold;
    border: solid 1px var(--primary-color);
    border-radius: 4px;
    cursor: pointer;
    transition: all ease 0.2s;

    &:hover {
        border: solid 1px var(--text-color);
        background-color: transparent;
        color: var(--text-color);
    }
}

.app-bg {
    display: flex;
    width: 100%;
    z-index: -1;
    position: absolute;
    align-items: end;
    justify-content: end;
    bottom: 0;
    left: 0;
    height: 400px;
    overflow: hidden;

    & svg {
        width: 100%;
        flex: 0 0 100%;
        animation: 12s ease-in-out infinite;
        color: var(--secondary-background-color);
    }
}

@keyframes flow {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 12px;
}

.dark-mode {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;

    & .dark-mode-slider {
        display: flex;
        align-items: center;
        width: 80px;
        padding: 6px;
        border: 1px solid var(--dark-mode-border);
        border-radius: 6px;
        background-color: var(--dark-mode-bg-color);
        transition: all 0.5s;
        cursor: pointer;
        & svg {
            transition: all ease 0.5s;
        }

        &:hover {
            transform: scale(1.05);
        }
    }
}

.quiz-home {
    display: flex;
    padding-top: 15vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & h1 {
        text-align: center;
        margin-bottom: 16px;
    }

    & p {
        font-size: 24px;
        margin-bottom: 30px;
    }

    & form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 32px;
        margin-bottom: 70px;
    }
}

.quiz-home form {
    & input {
        padding: 16px 12px;
        width: 350px;
        background-color: transparent;
        color: var(--text-color);
        border: none;
        border: 1px solid transparent;
        border-bottom: 1px solid var(--text-color);
        z-index: 999;
        position: relative;
        transition: all 0.2s;
        border-radius: 2px;

        &:focus {
            border: 1px solid var(--text-color);
            box-shadow: none;
            outline: none;
        }

        &::placeholder {
            color: transparent;
        }

        &:not(:placeholder-shown) {
            border: 1px solid var(--text-color);
        }
    }

    & select {
        padding: 16px 12px;
        appearance: none;
        width: 100%;
        background-color: transparent;
        color: var(--text-color);
        border: 1px solid transparent;

        border-bottom: 1px solid var(--text-color);
        transition: all 0.2s;

        &:focus {
            border: 1px solid var(--text-color);
            box-shadow: none;
            outline: none;
        }

        & option {
            color: black;
            font-family: Arial, Helvetica, sans-serif;
        }

        &:valid {
            border: 1px solid var(--text-color);
        }
    }

    & .button-wrapper {
        grid-column: 1 / -1;
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }

    & .input-wrapper,
    .select-wrapper {
        position: relative;

        & label {
            position: absolute;
            left: 6px;
            top: 12px;
            opacity: 0.5;
            background-color: var(--background-color);
            padding: 6px;
            transform-origin: 0 0;
            z-index: 999;
            transition: transform 0.3s;
            pointer-events: none;
        }
    }
}

.quiz-home form .select-wrapper::after {
    content: "v";
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: var(--text-color);
    font-size: 1.5rem;
}

.quiz-home form input:focus + label,
.quiz-home form input:not(:placeholder-shown) + label,
.quiz-home form select:focus + label,
.quiz-home form select:valid + label {
    transform: scale(0.9) translateY(-100%);
    opacity: 1;
}
