:root {
    --primary-color: #f25912;
    --background-color: #211832;
    --secondary-background-color: #2c2042;
    --invert-background-color: #fff;
    --options-background-color: #49356d;
    --text-color: white;
    --text-color-button: white;
    --invert-text-color: black;
    --dark-mode-border: #f25912;
    --dark-mode-bg-color: #f25912;
    --warn: #e03939;
    --success: #23c072;
}

.light-mode {
    --background-color: #ffffff;
    --secondary-background-color: #f5f0ff;
    --invert-background-color: #f25912;
    --options-background-color: #e5d8ff;

    --text-color: black;
    --invert-text-color: #fff;
    --dark-mode-border: black;
    --dark-mode-bg-color: transparent;
}

.correct {
    background-color: var(--success) !important;
    color: white !important;
    cursor: not-allowed;
}

.incorrect {
    background-color: var(--warn) !important;
    color: white !important;
    cursor: not-allowed;
}

.current-answer {
    transform: translateX(15px);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: pixel-operator-mono;
    src: url("./assets/PixelOperatorMono.ttf") format("truetype");
}

@font-face {
    font-family: pixel-operator-mono;
    src: url("./assets/PixelOperatorMono8-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: pixel-operator-sc;
    src: url("./assets/PixelOperatorSC.ttf") format("truetype");
}

@font-face {
    font-family: pixel-operator-sc;
    src: url("./assets/PixelOperatorSC-Bold.ttf") format("truetype");
    font-weight: bold;
}

/* Universal styles */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: pixel-operator-mono;
    overflow-x: hidden;
    padding: 0 24px;
    font-weight: 300;
    position: relative;
    min-height: 100vh;
    height: 100%;
    overflow: hidden;
}

main {
    position: static;
}

h1 {
    font-family: pixel-operator-sc;
    font-size: 68px;
}

h2 {
    font-family: pixel-operator-sc;
    font-size: 68px;
    font-weight: 300;
}

h3 {
    font-family: pixel-operator-sc;
    font-size: 24px;
    font-weight: 300;
}

input,
select,
option,
label {
    font-size: 18px;
    font-family: pixel-operator-mono, pixel-operator-sc;
}

input[type="number"] {
    appearance: textfield;
}

button {
    padding: 12px 64px;
    background-color: var(--primary-color);
    border: none;
    font-family: pixel-operator-sc;
    font-size: 22px;
    color: white;
    font-weight: bold;
    border: solid 1px var(--primary-color);
    border-radius: 4px;
    cursor: pointer;
    transition: all ease 0.2s;

    &:hover {
        border: solid 1px var(--text-color);
        background-color: transparent;
        color: var(--text-color);
    }
}

.fade {
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 9999;
}

.fade.show {
    opacity: 1;
    z-index: 9999;
}

.error {
    font-size: 18px;
    padding: 12px 24px;
    max-width: 40%;
    background-color: var(--warn);
    color: white;
    position: absolute;
    bottom: 12px;
    left: 12px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.close-error {
    width: 32px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: white;
    color: black;
    font-weight: 300;
    font-size: 16px;
    padding: 0;
    flex: 0 0 auto;

    &:hover {
        border: 1px solid white;
        color: white;
    }
}

.app-bg {
    display: flex;
    width: 100%;
    z-index: -1;
    position: absolute;
    align-items: end;
    justify-content: end;
    bottom: 0;
    left: 0;
    height: 400px;
    overflow: hidden;

    & svg {
        width: 100%;
        flex: 0 0 100%;
        animation: 12s ease-in-out infinite;
        color: var(--secondary-background-color);
        animation: flow infinite 20s linear;
    }
}

@keyframes flow {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 12px;
}

.dark-mode {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;

    & .dark-mode-slider {
        display: flex;
        align-items: center;
        width: 80px;
        padding: 6px;
        border: 1px solid var(--dark-mode-border);
        border-radius: 6px;
        background-color: var(--dark-mode-bg-color);
        transition: all 0.5s;
        cursor: pointer;
        & svg {
            transition: all ease 0.5s;
        }

        &:hover {
            transform: scale(1.05);
        }
    }
}

progress {
    padding: 5px;
    border-radius: 4px;
    height: 20px;
    border: none;
    background-color: white;
    border: 1px solid var(--text-color);
    width: 80%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    will-change: transform;
    transform: translateZ(0);
}
progress::-webkit-progress-bar {
    background-color: #ffdccc;
    border-radius: 6px;
}
progress::-webkit-progress-value {
    background-color: var(--primary-color);
    border-radius: 3px;
}
progress::-moz-progress-bar {
    background-color: var(--primary-color);
    border-radius: 3px;
}

svg {
    transition: all ease 0.3s;
}

/* QuizHome component styles */
.quiz-home {
    display: flex;
    padding-top: 15vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & h1 {
        text-align: center;
        margin-bottom: 16px;
    }

    & p {
        font-size: 24px;
        margin-bottom: 30px;
    }

    & form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 32px;
        margin-bottom: 70px;
    }
}

.quiz-home form {
    & input {
        padding: 16px 12px;
        width: 400px;
        background-color: transparent;
        color: var(--text-color);
        border: none;
        border: 1px solid transparent;
        border-bottom: 1px solid var(--text-color);
        z-index: 999;
        position: relative;
        transition: all 0.2s;
        border-radius: 2px;

        &:focus {
            border: 1px solid var(--text-color);
            box-shadow: none;
            outline: none;
        }

        &::placeholder {
            color: transparent;
        }

        &:not(:placeholder-shown) {
            border: 1px solid var(--text-color);
        }
    }

    & select {
        padding: 16px 32px 16px 16px;
        appearance: none;
        width: 400px;
        background-color: transparent;
        color: var(--text-color);
        border: 1px solid transparent;

        border-bottom: 1px solid var(--text-color);
        transition: all 0.2s;

        &:focus {
            border: 1px solid var(--text-color);
            box-shadow: none;
            outline: none;
        }

        & option {
            color: black;
            font-family: Arial, Helvetica, sans-serif;
        }

        &:valid {
            border: 1px solid var(--text-color);
        }
    }

    & .button-wrapper {
        grid-column: 1 / -1;
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }

    & .button-wrapper.home-button {
        flex-direction: column;
    }

    & .input-wrapper,
    .select-wrapper {
        position: relative;

        & label {
            position: absolute;
            left: 6px;
            top: 12px;
            opacity: 0.5;
            background-color: var(--background-color);
            padding: 6px;
            transform-origin: 0 0;
            z-index: 999;
            transition: transform 0.3s;
            pointer-events: none;
        }
    }
}

.quiz-home form .select-wrapper::after {
    content: "v";
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: var(--text-color);
    font-size: 1.5rem;
}

.quiz-home form input:focus + label,
.quiz-home form input:not(:placeholder-shown) + label,
.quiz-home form select:focus + label,
.quiz-home form select:valid + label {
    transform: scale(0.9) translateY(-100%);
    opacity: 1;
}

/* Loading component styles */
.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 24px;
    padding-top: 30vh;

    & p {
        margin-left: 24px;
        font-size: 32px;
    }
}

.load-container {
    display: flex;
    gap: 10px;
    & .load-period {
        width: 10px;
        height: 10px;
        border-radius: 2px;
        background-color: var(--text-color);
        opacity: 0.3;
        animation: 0.5s ease-in alternate infinite loading;
    }

    & .load-period:nth-child(1) {
        animation-delay: 0.2s;
    }

    & .load-period:nth-child(2) {
        animation-delay: 0.4s;
    }

    & .load-period:nth-child(3) {
        animation-delay: 0.6s;
    }

    & .load-period:nth-child(4) {
        animation-delay: 0.8s;
    }
}

@keyframes loading {
    from {
        opacity: 0.2;
        transform: translateY(0) scale(1);
    }
    to {
        opacity: 1;
        transform: translateY(-5px) scale(1.1);
    }
}

/* QuizReady component styles */
.quiz-ready-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 15vh;
    gap: 5rem;
}

.quiz-ready-wrapper .quiz-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;

    & button {
        margin-top: 20%;
    }

    & p {
        font-size: 24px;
        line-height: 2.5rem;
        max-width: 600px;
    }
}

.quiz-ready-wrapper .quiz-summary {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.quiz-ready-wrapper .quiz-summary .quiz-item-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 340px;
    gap: 20px;

    & .quiz-question {
        display: flex;
        justify-content: start;
        align-items: start;
        gap: 6px;
        width: 100%;
        padding: 12px;
        font-size: 1rem;
        text-align: left;
        background-color: var(--invert-background-color);
        color: var(--invert-text-color);
        border-radius: 4px;
    }
}

.quiz-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-height: 315px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 12px;

    & .quiz-item {
        width: 48px;
        height: 48px;
        position: relative;
        background: none;
        padding: 12px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.3s ease;

        &:hover {
            transform: translateY(-5px);
        }
    }

    & .quiz-item p {
        position: relative;
        font-size: 1.5rem;
        font-size: 10;
        z-index: 10;
        font-weight: 300;
        color: var(--invert-text-color);
    }

    & .quiz-item svg {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        color: var(--invert-background-color);
        transition: all 0.2s ease;
    }
}

/* QuizPlay component style */
.quiz-play {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 70vh;
    gap: 3rem;
    margin: 0 auto;
    padding-top: 5vh;
}

.quiz-question {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    gap: 24px;
    width: 65%;

    & h2 {
        font-size: 3rem;
        display: flex;
        align-items: center;
        min-height: 120px;
    }
}

.quiz-options {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: stretch;
    width: 100%;
}

.quiz-options button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: left;
    width: 439px;
    gap: 30px;
    padding: 12px 16px;
    color: var(--text-color);
    font-size: 32px;
    font-weight: 300;

    &:hover {
        background-color: var(--options-background-color);
    }
}

.quiz-options-letter {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 47px;
    height: 47px;
    flex: 0 0 auto;

    & P {
        color: var(--invert-text-color);
        position: relative;
        z-index: 10;
        font-size: 32px;
        font-weight: 300;
    }

    & svg {
        position: absolute;
        width: 100%;
        height: 100%;
        color: var(--invert-background-color);
    }
}

.quiz-play-button-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 426px;
    gap: 40px;

    & button {
        font-size: 16px;
        display: flex;
        justify-content: center;
        background-color: var(--invert-background-color);
        border: 1px solid var(--invert-background-color);
        color: var(--invert-text-color);

        &:hover {
            background-color: var(--invert-background-color);
            border: 1px solid var(--invert-background-color);
            color: var(--invert-text-color);
        }

        &[disabled] {
            opacity: 0.4;
            cursor: default;
        }

        &:not([disabled]):hover {
            background-color: transparent;
            border: 1px solid var(--invert-background-color);
            color: var(--text-color);
        }
    }
}

.quiz-progress-container {
    width: 46%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;

    & .quiz-grid {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: start;
        align-items: start;
        margin-bottom: 24px;
        padding-right: 0;
        padding-top: 12px;
        gap: 20px;

        & p {
            color: var(--invert-text-color);
        }
    }

    & .quiz-progress-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 10px;

        & .quiz-data {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            font-size: 18px;
            padding: 0 6px;
        }

        & progress {
            width: 100%;
        }
    }
}

/* Quiz Finished component */
.quiz-finished {
    width: 60vw;
    height: 70vh;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px;

    & h2 {
        font-size: 46px;
        font-weight: 300;
    }

    & .quiz-grid {
        margin-bottom: 2rem;
        padding-right: 24px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 600px;

        & p {
            color: white;
        }
    }
}

.quiz-finished .custom-progress {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 6px;
    background-color: white;
    border: 1px solid var(--text-color);
    border-radius: 4px;
    position: relative;

    & .value {
        background-color: var(--success);
        position: relative;
        z-index: 10;
        width: 10%;
        height: 100%;
        border-radius: 2px;
    }

    & .track {
        background-color: var(--warn);
        position: absolute;
        inset: 6px;
        border-radius: 2px;
    }
}

.modal {
    position: absolute;
    inset: 0px;
    padding: 0 12px;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-outside {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    inset: 0;
    z-index: 1;
}

.modal .close-button {
    display: flex;
    justify-content: center;
    align-items: start;
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: var(--warn);
    color: white;
    padding: 2px 12px 4px 12px;
    border-radius: 4px;
    font-size: 2rem;
    font-weight: 600;
    font-family: pixel-operator-sc;
    z-index: 9999;

    &:hover {
        background-color: transparent;
    }
}

.modal-content {
    max-width: 60vw;
    max-width: 874px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-color);
    padding: 24px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    text-align: center;
    z-index: 10;

    & button,
    p,
    h2 {
        position: relative;
        z-index: 10;
    }

    & p {
        margin-bottom: 10px;
    }

    & h2,
    button {
        margin-bottom: 2rem;
    }
}

.modal-content button {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    text-align: left;
    width: 100%;
    max-width: 426px;
    padding: 16px;
    border: none;
    cursor: default;

    & p {
        margin-bottom: 0;
    }

    & svg {
        position: absolute !important;
        inset: 0;
    }
}

/* Mobile */
@media screen and (max-width: 885px) {
    body {
        min-height: 100vh;
        height: 100%;
        overflow: visible;
    }

    nav {
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: -90px;
        & .logo {
            font-weight: 300;
            font-size: 3rem;
        }
    }

    .error {
        max-width: 100%;
        right: 12px;
    }

    .quiz-home {
        padding-bottom: 5vh;
        text-align: center;
    }

    .quiz-home form {
        display: flex;
        flex-direction: column;
    }

    .quiz-ready-wrapper {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 32px 0;
        margin-top: 70px;

        & button {
            margin-top: 5% !important;
        }

        & .quiz-text {
            align-items: stretch;
        }
    }

    .quiz-play {
        flex-direction: column-reverse;
        padding: 8rem 0;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: auto;

        & .quiz-question {
            width: 100%;
        }

        & .quiz-progress-container {
            width: 100%;
        }
    }

    .quiz-options {
        align-items: center;
    }

    .quiz-finished {
        height: 100vh;
        width: 100%;
    }
}
